{% extends 'base.html' %}

{% block content %}

{% if profile %}
<div class="flex justify-center">
    <h1> {{ profile.user.username }} </h1>
    <h6>@{{ profile.user.username|lower }}</h6>
</div>

<div class="flex row w-auto pt-5">
    <div class="col-8 w-2/3 pt-2">
        {% if ingnotes.exists %}
            {% for ingnote in ingnotes %}
            <div class="card text-start">
                <div class="card-body">
                    <h5 class="card-title">@{{ ingnote.user }}</h5>
                    <p class="card-text">{{ ingnote.body }}</p>
                    <a href="#" type="button" class="w-16 h-16 mt-5 ml-6 text-black bg-gray-500 border-0 hover:bg-red-500 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" stroke-width="1.5" fill="currentColor" class="w-4 h-4 bg-gray-500 border-0 hover:bg-red-500 rounded">
                            <path d="M9.653 16.915l-.005-.003-.019-.01a20.759 20.759 0 01-1.162-.682 22.045 22.045 0 01-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 018-2.828A4.5 4.5 0 0118 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 01-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 01-.69.001l-.002-.001z" />
                        </svg>_ _
                    </a>

                    <a href="#" type="button" class="w-16 h-16 mt-5 ml-6 text-black bg-gray-500 border-0 hover:bg-blue-500 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" stroke-width="1.5" fill="currentColor" class="w-4 h-4 bg-gray-500 border-0 hover:bg-blue-500 rounded">
                            <path d="M1 8.25a1.25 1.25 0 112.5 0v7.5a1.25 1.25 0 11-2.5 0v-7.5zM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0114 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 01-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 01-1.341-.317l-2.734-1.366A3 3 0 006.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 012.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388z" />
                        </svg>_ _
                    </a>

                    <a href="#" type="button" class="w-16 h-16 mt-5 ml-6 text-black bg-gray-500 border-0 hover:bg-yellow-500 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" stroke-width="1.5" fill="currentColor" class="w-4 h-4 bg-gray-500 border-0 hover:bg-yellow-500 rounded">
                            <path d="M18.905 12.75a1.25 1.25 0 01-2.5 0v-7.5a1.25 1.25 0 112.5 0v7.5zM8.905 17v1.3c0 .268-.14.526-.395.607A2 2 0 015.905 17c0-.995.182-1.948.514-2.826.204-.54-.166-1.174-.744-1.174h-2.52c-1.242 0-2.26-1.01-2.146-2.247.193-2.08.652-4.082 1.341-5.974C2.752 3.678 3.833 3 5.005 3h3.192a3 3 0 011.342.317l2.733 1.366A3 3 0 0013.613 5h1.292v7h-.963c-.684 0-1.258.482-1.612 1.068a4.012 4.012 0 01-2.165 1.73c-.433.143-.854.386-1.012.814-.16.432-.248.9-.248 1.388z" />
                        </svg>_ _
                    </a>

                    <a href="#" type="button" class="w-16 h-16 mt-5 ml-6 text-black bg-gray-500 border-0 hover:bg-gray-100 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" stroke-width="1.5" fill="currentColor" class="w-4 h-4 bg-gray-500 border-0 hover:bg-gray-100 rounded">
                            <path d="M3.505 2.365A41.369 41.369 0 019 2c1.863 0 3.697.124 5.495.365 1.247.167 2.18 1.108 2.435 2.268a4.45 4.45 0 00-.577-.069 43.141 43.141 0 00-4.706 0C9.229 4.696 7.5 6.727 7.5 8.998v2.24c0 1.413.67 2.735 1.76 3.562l-2.98 2.98A.75.75 0 015 17.25v-3.443c-.501-.048-1-.106-1.495-.172C2.033 13.438 1 12.162 1 10.72V5.28c0-1.441 1.033-2.717 2.505-2.914z" />
                            <path d="M14 6c-.762 0-1.52.02-2.271.062C10.157 6.148 9 7.472 9 8.998v2.24c0 1.519 1.147 2.839 2.71 2.935.214.013.428.024.642.034.2.009.385.09.518.224l2.35 2.35a.75.75 0 001.28-.531v-2.07c1.453-.195 2.5-1.463 2.5-2.915V8.998c0-1.526-1.157-2.85-2.729-2.936A41.645 41.645 0 0014 6z" />
                        </svg>_ _
                    </a>
                </div>
                <div class="card-footer text-muted">{{ ingnote.create_time }}</div>
            </div>
            <br/><br/>
            {% endfor %}
        {% endif %}
    </div>

    <div class="col-2 w-1/3 text-center justify-center pt-2">
        <div class="card border-info mb-2 border-opacity-50" style="max-width: 12rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <a class="btn btn-outline-info" data-bs-toggle="collapse" href="#multiCollapse1" role="button" aria-expanded="false" aria-controls="multiCollapse1">
                    <strong> Follows | {{ profile.follows.count }}</strong>
                    </a><br/>
                </h5>
                <div class="collapse multi-collapse" id="multiCollapse1">
                    <div class="card card-body border-secondary text">
                    <p class="card-text">
                    {% for follower in profile.follows.all %}
                        <a href='{% url "profile" follower.user.id %}'>@{{ follower }} </a><br/>
                    {% endfor %}
                    </p>
                    </div>
                </div>
                <h5 class="card-title">
                    <br/>
                    <a class="btn btn-outline-info" data-bs-toggle="collapse" href="#multiCollapse2" role="button" aria-expanded="false" aria-controls="multiCollapse2">
                    <strong> Followed by | {{ profile.followed_by.count }}</strong>
                    </a>
                </h5>
                <div class="collapse multi-collapse" id="multiCollapse2">
                    <div class="card card-body border-secondary text">
                        <p class="card-text">
                        {% for follower in profile.followed_by.all %}
                            <a href='{% url "profile" follower.user.id %}'> @{{ follower }} </a><br/>
                        {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
                <div class="card card-body border-secondary text">
                    <form method=POST>
                        {% csrf_token %}
                        {% if profile in user.profile.follows.all %}
                            <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">
                            Unfollow @{{ profile.user.username|lower }}
                            </button>
                        {% else %}
                            <button class="btn btn-outline-success hover:bg-color-green-500" name="follow" value="follow" type="submit">
                            Follow @{{ profile.user.username|lower }}
                            </button>
                        {% endif %}
                    </form>
                </div>
        </div> 
    </div>
</div>
{% endif %}

{% endblock %}