# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
DjangoWebDev/IngotForum/Forum/token.txt
DjangoWebDev/IngotCRM/ingotcrm/token.txt
DjangoWebDev/IngotCRM/ingotcrm/media/media/2022.prof
DjangoWebDev/IngotCRM/ingotcrm/media/images/agents/1000629-sad-anime-wallpapers-2560x1440-hd-1080p-25404873.jpg
DjangoWebDev/IngotCRM/ingotcrm/media/images/agents/104328926_p0_master1200.jpg
DjangoWebDev/IngotCRM/ingotcrm/media/images/agents/6c12f14cf686f7940c9579dc498a4a4d.jpg
DjangoWebDev/IngotCRM/ingotcrm/media/images/leads/98399320_p0_master1200.jpg
DjangoWebDev/IngotCRM/ingotcrm/media/images/leads/album_2023-02-10_23-34-28.gif
DjangoWebDev/IngotCRM/ingotcrm/media/images/leads/photo_2022-12-27_23-13-19.jpg
DjangoWebDev/IngotCRM/ingotcrm/media/images/leads/g7jjhg22nrn61-821378519.jpg
DjangoWebDev/IngotCRM/ingotcrm/media/images/leads/pixivSketch.png
DjangoWebDev/IngotCRM/ingotcrm/media/images/agents/g7jjhg22nrn61-821378519.jpg
DjangoWebDev/IngotCRM/ingotcrm/media/media/django_documentation.pdf
DjangoWebDev/IngotCRM/ingotcrm/media/images/leads/Ruby_Rose_character_Yang_Xiao_Long_Ruby_Rose_RWBY_Weiss_Schnee_Blake_Bellad_CmGIry9.jpg
DjangoWebDev/IngotCRM/ingotcrm/static/images/nikita2.png
