{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
  <h1 class="flex justify-center sm:text-3xl text-2xl font-medium mb-1 mt-5 text-gray-900">
    Delete agent {{ agent.user.username }}</h1>
    <br/><hr/>

  <div class="flex ml-8 mt-2 w-full justify-center">
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="flex mt-10 mr-5 text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-cyan-500 hover:text-black rounded text-lg">Submit</button>
      <br/>
    </form>
    <a href="{% url 'agents:agent-detail' agent.pk %}"><button type="button" class="mt-10 text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg">Cancel</button></a>
  </div>
{% endblock content %}