{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="flex ml-5 space-x-2 justify-left">
        <div>
            <a  href="{% url 'leads:document-list' %}"><button type="button" class="inline-block px-6 pt-2 mt-6 pb-2 bg-yellow-200 text-black font-medium text-xs leading-normal uppercase rounded shadow-md hover:bg-blue-300 hover:shadow-lg focus:bg-blue-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-300 active:shadow-lg transition duration-150 ease-in-out flex align-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3 pb-1">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                </svg>
                Back to documents
            </button></a>
        </div>
    </div>
    <div class="flex mx-auto justify-center">
        <div class="sm:w-2/3 sm:pl-8 sm:py-8 mt-4 pt-4 sm:mt-0 text-center sm:text-left">
            <p class="mr-4 leading-relaxed text-lg font-medium mb-2">
                <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3 pt-5">{{ document.title }}</h1>
                <br/><hr class="border-2 border-amber-500 hover:border-purple-500 drop-shadow-xl"/><br/>
                    <div class="sm:w-2/3 sm:pl-8 ml-2">
                        <p>Description: {{ document.description }}</p><br/>
                        <p>Secret: {{ document.is_secret }}</p><br/>
                        <a href="{{ document.file.url }}" download>
                            <button class="bg-green-300 hover:bg-green-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
                                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
                                <span>Download</span>
                            </button>
                        </a><br/>
                    </div>
            </p>
            <p class="flex justify-end mr-4 mt-8 sm:w-5/6 leading-relaxed text-lg font-medium mb-2">
                <a class="mr-5 bg-yellow-300 text-black rounded shadow-md hover:bg-orange-400 hover:shadow-lg focus:bg-blue-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-300 active:shadow-lg font-semibold py-2 px-4 border border-gray-400 shadow" href="{% url 'leads:document-update' document.pk %}"><button>Update</button></a>
                <a class="bg-yellow-300 text-black rounded shadow-md hover:bg-red-400 hover:shadow-lg focus:bg-blue-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-300 active:shadow-lg font-semibold py-2 px-4 border border-gray-400 shadow" href="{% url 'leads:document-delete' document.pk %}"><button>Delete</button></a>
            </p>

        </div>
    </div>
    <br/><br/>

{% endblock content %}