{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 border border-2 object-cover object-center rounded" alt="home.jpg" src="{% static 'images/home.jpg' %}">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
      Ingot CRM
      </h1>
      <p class="mb-8 leading-relaxed">
      Built to help you to manage the leads.
      </p>

      {% if not request.user.is_authenticated %}
      <ul class="w-100 relative m-0 list-none overflow-hidden p-0 transition-[height] duration-200 ease-in-out" data-te-stepper-init data-te-stepper-type="vertical">
        <li data-te-stepper-step-ref
          class="relative h-fit after:absolute after:left-[2.45rem] after:top-[3.6rem] after:mt-px after:h-[calc(100%-2.45rem)] after:w-px after:bg-[#e0e0e0] after:content-[''] dark:after:bg-neutral-600">
          <div data-te-stepper-head-ref
            class="flex cursor-pointer items-center p-6 leading-[1.3rem] no-underline after:bg-[#e0e0e0] after:content-[''] hover:bg-[#f9f9f9] focus:outline-none dark:after:bg-neutral-600 dark:hover:bg-[#3b3b3b]">
            <span data-te-stepper-head-icon-ref class="mr-3 flex h-[1.938rem] w-[1.938rem] items-center justify-center rounded-full bg-[#ebedef] text-sm font-medium text-[#40464f]">
              1
            </span>
            <span data-te-stepper-head-text-ref class="text-neutral-500 after:absolute after:flex after:text-[0.8rem] after:content-[data-content] dark:text-neutral-300">
              Getting started
            </span>
          </div>
          <div data-te-stepper-content-ref class="ps-1 transition-[height, margin-bottom, padding-top, padding-bottom] left-0 overflow-hidden pr-6 pb-6 pl-[3.75rem] duration-300 ease-in-out">
            IngotCRM is an easy way for your company to manage the agents, leads, and documents.
          </div>
        </li>
        <li data-te-stepper-step-ref
          class="relative h-fit after:absolute after:left-[2.45rem] after:top-[3.6rem] after:mt-px after:h-[calc(100%-2.45rem)] after:w-px after:bg-[#e0e0e0] after:content-[''] dark:after:bg-neutral-600">
          <div data-te-stepper-head-ref
            class="flex cursor-pointer items-center p-6 leading-[1.3rem] no-underline after:bg-[#e0e0e0] after:content-[''] hover:bg-[#f9f9f9] focus:outline-none dark:after:bg-neutral-600 dark:hover:bg-[#3b3b3b]">
            <span data-te-stepper-head-icon-ref class="mr-3 flex h-[1.938rem] w-[1.938rem] items-center justify-center rounded-full bg-[#ebedef] text-sm font-medium text-[#40464f]">
              2
            </span>
            <span
              data-te-stepper-head-text-ref
              class="text-neutral-500 after:absolute after:flex after:text-[0.8rem] after:content-[data-content] dark:text-neutral-300">
              Create your companies workplace
            </span>
          </div>
          <div
            data-te-stepper-content-ref
            class="ps-1 transition-[height, margin-bottom, padding-top, padding-bottom] left-0 overflow-hidden pr-6 pb-6 pl-[3.75rem] duration-300 ease-in-out">
            Create, retrieve, update, delete and list companies pieces.
          </div>
        </li>
        <li data-te-stepper-step-ref class="relative h-fit">
          <div
            data-te-stepper-head-ref
            class="flex cursor-pointer items-center p-6 leading-[1.3rem] no-underline after:bg-[#e0e0e0] after:content-[''] hover:bg-[#f9f9f9] focus:outline-none dark:after:bg-neutral-600 dark:hover:bg-[#3b3b3b]">
            <span
              data-te-stepper-head-icon-ref
              class="mr-3 flex h-[1.938rem] w-[1.938rem] items-center justify-center rounded-full bg-[#ebedef] text-sm font-medium text-[#40464f]">
              3
            </span>
            <span
              data-te-stepper-head-text-ref
              class="text-neutral-500 after:absolute after:flex after:text-[0.8rem] after:content-[data-content] dark:text-neutral-300">
              Operate and maintain your workflow
            </span>
          </div>
          <div
            data-te-stepper-content-ref
            class="ps-1 transition-[height, margin-bottom, padding-top, padding-bottom] left-0 overflow-hidden pr-6 pb-6 pl-[3.75rem] duration-300 ease-in-out">
            Each one of the leads can be assigned to an agent just like each document being assigned to a lead, it is representing.
          </div>
        </li>
      </ul>
      {% endif %}

      <div class="flex justify-center">
        {% if request.user.is_authenticated %}
          <a href="{% url 'leads:lead-list' %}"><button class="inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg">Leads</button>
        {% else %}
          <a href="{% url 'login' %}"><button class="inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg">Log in</button>
        {% endif %}
      </div>
      
    </div>
  </div>
</section>

{% endblock content %}