{% extends "base.html" %}

{% block content %}
    <h1 class="sm:text-3xl text-2xl font-medium mb-1 text-gray-900">
        Change the category for {{ lead.first_name }} {{ lead.last_name }} lead
    </h1>
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">
    <b/>
    </h1>
    <br/><hr/>

    <div class="mx-center mt-5 relative flex-grow w-full">
      <div class="keys" style="position: absolute; left: auto; width: 100px; height: 120px;">
        <label for="category" class="leading-10 text-sm text-gray-600">Category</label>
      </div>
      <div class="values" style="position: absolute; left: 150px; width: 200px; height: 120px;">
        <input type="text" id="category" name="category" class="w-50 bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-green-500 focus:bg-transparent focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" value="{{ lead.category }}">
      </div>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="flex mx-auto mt-10 text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg">Submit</button>
    </form>
    
{% endblock content %}