h1 {
	font-family: "Arial", "Times New Roman", "Console";
	font-size: 16 px;
	color: lightcyan;
}

.container {
	padding: 12% 0%;
}

header {
	display: flex;
	position: fixed;
	align-items: center;
	text-align: center;
	width: 100vw;
	background: #C4243F;
	padding: 0% 2%;
	border-style: groove hidden hidden;
	border-color: #4AB8B8;
}

nav {
	display: inline-block;
	margin: 0% 5%;
}

nav a {
	display: inline-block;
	color: #5582F9;
	background: #BDBDBD;
}

header, footer {
	background: #C4243F;
	background: -moz-linear-gradient(top, #C4243F 25%, #FFFFFF 75%);
	background: -webkit-linear-gradient(#C4243F 25%, #FFFFFF 75%);
	background: -o-linear-gradient(#C4243F 25%, #FFFFFF 75%);
	background: linear-gradient(#C4243F 25%, #FFFFFF 75%);
}

section {
	display: inline-block;
	background: #CFABAB;
	border-style: hidden solid hidden;
	border-color: darkgray;
	margin: 10px 0%;
	padding: 2% 1%;
	transition-property: background, border-color;
	transition-duration: 1s easy;
	transition-timing-function: linear;
}

p.highlight:hover{ 
  color:green;
}

section:hover {
	background: #BA9F9F;
	border-color: #65B765;
}

.half {
	width: 43%;
	margin: 0% 2%;
	float: left;
}

.full {
	width: 94%;
	margin-left: 2%;
}

h2 {
	color: #8A5FAF;
	text-align: center;
}

li {
	font-family: "Arial", "Console";
}

details {
	font-style: italic;
}

summary {
	font-style: normal;
	font-size: 14px;
}

footer {
	display: inline-block;
	margin: 2% 2% 0%;
	border-top: 2%;
	padding: 2% 0% 2%;
	color: #080928;
}

a:visited {
	color: #555555;
	background: #C6C6C6;
}

a:hover {
	color: #FCFCAA;
	background: #AAAAAA;
}

a:focus {
	color: #09097F;
	background: #AAAAAA;
	border-style: dashed;
}

a {
	text-decoration: none;
}